@import 'style-reset';

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.ttf");
}

.title {
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;

    &_big {
        font-size: 40px;
    }

    &_medium {
        font-size: 20px;
    }

    &_small {
        font-size: 16px;
    }
}

.image {
    height: 200px;
    border-radius: 10px;
    border: 1px solid #000;
}
